<h1>Welcome to ようこそジャパリパー</h1>
<div class="content">
<p>
	This is views/partials/buysell.hbs
</p>
<h2 class="h2">A bit of the test design</h2>
</div>
<div class="main">
	<div class="columns">
		<div class="column is-one-third">
			<div class="card">
				<div class="card-image">
					<figure class="image is-4by3">
						<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
					</figure>
				</div>
				<header class="card-header">
					<p class="card-header-title">
						Pen
					</p>
					<a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
					</a>
				</header>
				<div class="card-content">
					<div class="content">
						This is a pen.
						<br>
						<span class="price">$10</span>
					</div>
				</div>
				<footer class="card-footer">
					<a href="#" class="card-footer-item">Save</a>
					<a href="#" class="card-footer-item">Edit</a>
					<a href="#" class="card-footer-item">Delete</a>
				</footer>
			</div>
		</div>

		<div class="column is-one-third">
			<div class="card">
				<div class="card-image">
					<figure class="image is-4by3">
						<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
					</figure>
				</div>
				<header class="card-header">
					<p class="card-header-title">
						Apple
					</p>
					<a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
					</a>
				</header>
				<div class="card-content">
					<div class="content">
						This is a apple.
						<br>
						<span class="price">$10</span>
					</div>
				</div>
				<footer class="card-footer">
					<a href="#" class="card-footer-item">Save</a>
					<a href="#" class="card-footer-item">Edit</a>
					<a href="#" class="card-footer-item">Delete</a>
				</footer>
			</div>
		</div>

		<div class="column is-one-third">

			<div class="card">
				<div class="card-image">
					<figure class="image is-4by3">
						<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
					</figure>
				</div>
				<header class="card-header">
					<p class="card-header-title">
						Apple Pen
					</p>
					<a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
					</a>
				</header>
				<div class="card-content">
					<div class="content">
						Oh! Apple Pen!
						<br>
						<span class="price">$15</span>
					</div>
				</div>
				<footer class="card-footer">
					<a href="#" class="card-footer-item">Save</a>
					<a href="#" class="card-footer-item">Edit</a>
					<a href="#" class="card-footer-item">Delete</a>
				</footer>
			</div>
		</div>
	</div>

	<div class="columns">
		<div class="column is-one-third">
			<div class="card">
				<div class="card-image">
					<figure class="image is-4by3">
						<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
					</figure>
				</div>
				<header class="card-header">
					<p class="card-header-title">
						Pen
					</p>
					<a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
					</a>
				</header>
				<div class="card-content">
					<div class="content">
						This is a pen.
						<br>
						<span class="price">$10</span>
					</div>
				</div>
				<footer class="card-footer">
					<a href="#" class="card-footer-item">Save</a>
					<a href="#" class="card-footer-item">Edit</a>
					<a href="#" class="card-footer-item">Delete</a>
				</footer>
			</div>
		</div>

		<div class="column is-one-third">

			<div class="card">
				<div class="card-image">
					<figure class="image is-4by3">
						<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
					</figure>
				</div>
				<header class="card-header">
					<p class="card-header-title">
						Pineapple
					</p>
					<a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
					</a>
				</header>
				<div class="card-content">
					<div class="content">
						This is Pineapple.
						<br>
						<span class="price">$10</span>
					</div>
				</div>
				<footer class="card-footer">
					<a href="#" class="card-footer-item">Save</a>
					<a href="#" class="card-footer-item">Edit</a>
					<a href="#" class="card-footer-item">Delete</a>
				</footer>
			</div>
		</div>

		<div class="column is-one-third">
			<div class="card">
				<div class="card-image">
					<figure class="image is-4by3">
						<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
					</figure>
				</div>
				<header class="card-header">
					<p class="card-header-title">
						Pineapple Pen
					</p>
					<a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
					</a>
				</header>
				<div class="card-content">
					<div class="content">
						Oh! Pineapple Pen!
						<br>
						<span class="price">$15</span>
					</div>
				</div>
				<footer class="card-footer">
					<a href="#" class="card-footer-item">Save</a>
					<a href="#" class="card-footer-item">Edit</a>
					<a href="#" class="card-footer-item">Delete</a>
				</footer>
			</div>
		</div>
	</div>

	<div class="columns">
		<div class="column is-one-third">
			<div class="card">
				<div class="card-image">
					<figure class="image is-4by3">
						<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
					</figure>
				</div>
				<header class="card-header">
					<p class="card-header-title">
						Apple Pen
					</p>
					<a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
					</a>
				</header>
				<div class="card-content">
					<div class="content">
						Apple Pen
						<br>
						<span class="price">$15</span>
					</div>
				</div>
				<footer class="card-footer">
					<a href="#" class="card-footer-item">Save</a>
					<a href="#" class="card-footer-item">Edit</a>
					<a href="#" class="card-footer-item">Delete</a>
				</footer>
			</div>
		</div>

		<div class="column is-one-third">
			<div class="card">
				<div class="card-image">
					<figure class="image is-4by3">
						<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
					</figure>
				</div>
				<header class="card-header">
					<p class="card-header-title">
						Pineapple Pen
					</p>
					<a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
					</a>
				</header>
				<div class="card-content">
					<div class="content">
						Pineapple Pen!
						<br>
						<span class="price">$15</span>
					</div>
				</div>
				<footer class="card-footer">
					<a href="#" class="card-footer-item">Save</a>
					<a href="#" class="card-footer-item">Edit</a>
					<a href="#" class="card-footer-item">Delete</a>
				</footer>
			</div>
		</div>

		<div class="column is-one-third">
			<div class="card">
				<div class="card-image">
					<figure class="image is-4by3">
						<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
					</figure>
				</div>
				<header class="card-header">
					<p class="card-header-title">
						Pen Pineapple Apple Pen
					</p>
					<a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
					</a>
				</header>
				<div class="card-content">
					<div class="content">
						Oh! Pen Pineapple Apple Pen!
						<br>
						<span class="price">$15</span>
					</div>
				</div>
				<footer class="card-footer">
					<a href="#" class="card-footer-item">Save</a>
					<a href="#" class="card-footer-item">Edit</a>
					<a href="#" class="card-footer-item">Delete</a>
				</footer>
			</div>
		</div>
	</div>
</div>