<div class="modal" id="addItem">
	<div class="modal-background">
	</div>
	<div class="modal-card" id="addItemModalCard">
		<header class="modal-card-head">
			<p class="modal-card-title">Add Selling Item</p>
			<button class="delete" aria-label="close" id="closeAddItemModal"></button>
		</header>
		<section class="modal-card-body">
			{{input "Item Name" "text" id="buySellItemName" required=true placeHolder="put Item Name here."}}
			{{input "Item Price" "text" id="buySellItemPrice" required=true placeHolder="put Item Price here."  isNum=true}}
			{{input "Item Description" "textarea"  id="buySellItemDescription" placeHolder="put item description here."}}
		</section>
		<footer class="modal-card-foot">
			<button class="button is-success">Save Items</button>
			<button class="button">Cancel</button>
		</footer>
	</div>
</div>
<div class="">

	<button class="button is-success" id="openItemModal">Add selling Item</button>
</div>
<div class="section">

</div>

</p>