<div id="popUpFormV" class="modal" >
 <div class="modal-background"></div>
 <div class="modal-card">
   <header class="modal-card-head">
     <p class="modal-card-title">People Interested In Your Item</p>
     <button class="delete" aria-label="close" onclick="document.getElementById('popUpFormV').style.display='none'"></button>
   </header>
   <section class="modal-card-body">
    {{data}}

   </section>
   <footer class="modal-card-foot">
     <button class="button" onclick="document.getElementById('popUpFormV').style.display='none'">Cancel</button>
   </footer>
 </div>
</div>
