<p>
	<div class="columns">
		<div class="column first-column">
			<button class="button is-primary" id="popUpButton" onclick="document.getElementById('popUpForm').style.display='block'">
				+
			</button>
		</div>
		<div class="column second-column">
				<div id="popUpForm" class="modal">
				  <div class="modal-background"></div>
				  <div class="modal-card">
				    <header class="modal-card-head">
				      <p class="modal-card-title">Add Details of road side item</p>
							<button onclick="document.getElementById('popUpForm').style.display='none'" class="delete" aria-label="close"></button>
						</header>
						<section class="modal-card-body">
							{{input "Item Name" "text" required=true placeHolder="put Item Name here."}}
							{{input "Item Price" "text" required=true placeHolder="put Item Price here."  isNum=true}}
							{{input "Item Description" "textarea"}}
							<lable class="b">Pin Location on Map</lable>
							<div id="map" class="fullwidth" ></div>
							<div id="current">Marker is Currently at: Current Lat: 44.974 Current Lng: -93.237</div>
							<script>
								var map;
						    function initializeMap() {
						      var map = new google.maps.Map(document.getElementById('map'), {
						          zoom: 14,
						          center: new google.maps.LatLng(44.974, -93.237),
						          mapTypeId: google.maps.MapTypeId.ROADMAP
						      });

						      var myMarker = new google.maps.Marker({
						          position: new google.maps.LatLng(44.974, -93.237),
						          draggable: true
						      });
						      google.maps.event.addListener(myMarker, 'dragend', function (evt) {
						          document.getElementById('current').innerHTML = '<p>Marker dropped: Current Lat: ' + evt.latLng.lat().toFixed(3) + ' Current Lng: ' + evt.latLng.lng().toFixed(3) + '</p>';
						      });

						      google.maps.event.addListener(myMarker, 'dragstart', function (evt) {
						          document.getElementById('current').innerHTML = '<p>Marker is Currently at: Current Lat: 44.974 Current Lng: -93.237</p>';
						      });

						      map.setCenter(myMarker.position);
						      myMarker.setMap(map);
						    }
							</script>
							<script async defer
							src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHlhlAslc3THDNUBE7HZ18Q5brP_dk950&callback=initializeMap">
							</script>
						</section>
				    <footer class="modal-card-foot">
				      <button class="button is-success">Save changes</button>
				      <button class="button" onclick="document.getElementById('popUpForm').style.display='none'">Cancel</button>
				    </footer>
			  	</div>
				</div>
		</div>
	</div>
</p>
