<h1>(Dummy Title Text)今日もドッタンバッタン大騒ぎ！</h1>
<p>
	This is views/partials/roadside.hbs

	<a href="./add/roadside" style="text-decoration:underline; font-size:36px; font-weight:700;">Use this link page to add roadside item instead of following input area.</a>
</p>
<div id="map" class="fullwidth"></div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2qANG4wIu_lI71xIhZFLqa9-F3GX6lCk&libraries=places&callback=initMap">
</script>

<p>
	<div class="form-example">
		{{input "Item Name" "text" required=true placeHolder="put Item Name here."}}
		{{input "Item Price" "text" required=true placeHolder="put Item Price here."  isNum=true}}
		{{input "Item Description" "textarea"}}

		<div class="field is-horizontal">
			<div class="field-label">
				<!-- Left empty for spacing -->
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						<button class="button is-primary">
							Send message
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</p>
