<h1>今日もドッタンバッタン大騒ぎ！</h1>
<p>
	This is views/partials/roadside.hbs
</p>

<div id="map" class="fullwidth"></div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2qANG4wIu_lI71xIhZFLqa9-F3GX6lCk&libraries=places&callback=initMap">
</script>