{{!--
This page is add item page.
We use this page for any item(buySell/Roadside)
We also use this page for edit(update) item.

The way to use this page is, first send item parameters set.
The item parameters set has two parameter: itemtype parameter and item id.
The itemtype parameter is only 2 value ("item", "roadside")
This parameter specify the item's type. "item" means buySell item, and "roadside" mean Roadside item

and The item id parameter specify item by id. use object id as item id.
--}}
<main class="main">
	<article>
		<section class="section">
			<h1 class="subtitle">Add new selling item</h1>
			<form  action="/add/{{itemType}}" enctype="multipart/form-data"  method="post" id="itemForm">

				<div class="field-label is-normal">
					<label class="label">
						Photo
					</label>
				</div>

				<div class="field is-horizontal">
					<div class="field-body">
					<div class="field">
						<div class="control">
							<input type="file" class="input" name="photo" id="photo">
							</div>
						</div>
					</div>
				</div>
			{{input "Item Name" "text" id="itemName" required=true placeHolder="put Item Name here."}}
				{{#unless isRoadside}}
			{{input "Item Price" "text" id="itemPrice" required=true placeHolder="put Item Price here."  isNum=true}}
				{{/unless}}
				{{input "Item Description" "textarea"  id="description" placeHolder="put item description here."}}
				{{#if isRoadside}}
					<lable class="b">Pin Location on Map</lable>
					<div id="map" class="fullwidth" ></div>
					<div id="current">Marker is Currently at: Current Lat: 44.974 Current Lng: -93.237</div>
					<script>
						var map;
						function initMaprs() {
							var map = new google.maps.Map(document.getElementById('map'), {
								zoom: 14,
								center: new google.maps.LatLng(44.974, -93.237),
								mapTypeId: google.maps.MapTypeId.ROADMAP
							});

							var myMarker = new google.maps.Marker({
								position: new google.maps.LatLng(44.974, -93.237),
								draggable: true
							});
							google.maps.event.addListener(myMarker, 'dragend', function (evt) {
								$("#lon").val(evt.latLng.lng().toFixed(3));
								$("#lat").val(evt.latLng.lat().toFixed(3));
								document.getElementById('current').innerHTML = '<p>Marker dropped: Current Lat: ' + evt.latLng.lat().toFixed(3) + ' Current Lng: ' + evt.latLng.lng().toFixed(3) + '</p>';
							});

							google.maps.event.addListener(myMarker, 'dragstart', function (evt) {
								document.getElementById('current').innerHTML = '<p>Marker is Currently at: Current Lat: 44.974 Current Lng: -93.237</p>';
								$("#lon").val( evt.latLng.lng().toFixed(3));
								$("#lat").val(evt.latLng.lat().toFixed(3));
							});

							map.setCenter(myMarker.position);
							myMarker.setMap(map);
						}
					</script>
					<script async defer
					        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHlhlAslc3THDNUBE7HZ18Q5brP_dk950&callback=initializeMap">
					</script>
					<input type="text" class="is-hidden" id="lon" name="lon">
					<input type="text" class="is-hidden" id="lat" name="lat">
				{{/if}}
			<a class="button is-success" id="itemFormSubmit">Save Items</a>
			<a class="button">Cancel</a>
			</form>
		</section>
	</article>
</main>
