

<main>
	<div class="tabs is-large">
		<ul>
			{{#if isSearch}}
				<li class="is-active"><a name="#">Item Search</a></li>
				<li><a href="/">Back to top</a></li>
			{{else}}
				<li class="is-active"><a class="switch-BuySell">Buy</a></li>
				<li><a class="switch-Roadside">Roadside</a></li>
				{{#if user}}
					<li><a class="switch-MyItems">My Items</a></li>
				{{/if}}
			{{/if}}
		</ul>
	</div>

	<article>
		{{!-- BEGIN: BuySellItems --}}
		<section class="section" id="section-BuySell">
			<div class="container">
				{{> buysell}}
			</div>
		</section>
		{{!-- END: BuySellItems --}}

		{{!-- BEGIN: RoadsideItems --}}
		<section class="section is-hidden" id="section-Roadside">
			<div class="container">
				{{> roadside}}
			</div>
		</section>
		{{!-- END: BuySellItems --}}

		{{!-- BEGIN: MyItem --}}
		{{#if user}}
		<section class="section is-hidden" id="section-MyItems">
			<div class="container">
				{{> myitem}}
			</div>
		</section>
		{{/if}}
		{{!-- END: MyItem --}}
	</article>
</main>

