<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<link rel="icon" href="/favicon.ico"/>
</head>
<body>
<div id="wrap">
	{{> navbar}}
	{{{body}}}
	<div class="footerPad"></div>
	<footer class="footer lgFooter">
		<div class="container">
			<div class="content has-text-centered">
				<p>
					<strong>UMN Shuffler</strong> by <strong>val=n</strong> Copyright 2017©
				</p>
			</div>
		</div>
	</footer>
</div>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHlhlAslc3THDNUBE7HZ18Q5brP_dk950&callback=initMaprs">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascripts/local.js"></script>
{{#each scripts}}
	<script src="/javascripts/{{this}}"></script>
{{/each}}
</body>
</html>
