.lgSpan{
    border-color: hsl(171, 100%, 41%);
    background: hsl(171, 100%, 41%);
    border-radius: 0.3rem;
    border-width: thick;
    border-style: solid;
    color: white;
    font-weight: bolder;
    font-size: larger;
}
.lgNavBar{
    font-weight: bolder;
    font-size: larger;
}
.lgNavBarHref{
    padding: 0;
    height: fit-content;
    margin-top: 0.8rem;
}
.lgNavBarTitle:hover {
    background-color: #00d1b2 !important;
}
.lgWrap{
    padding-top: 2rem;
    display: block !important;
}

.lgColumn{
    padding-top: 2rem;
}
.lgAddSearchDiv{
    display: flex;
}
.lgAddDiv{
    padding-top: 0.2rem;
}
.lgSearchDiv{
    position: absolute;
    right: 0;
}
.lgSearchForm{
    display: inline-flex;
}
.lgSubmitSearch{
    margin-left: 1rem;
}
.lgAddButton{
    background: hsl(217, 71%, 53%);
    border-color: hsl(217, 71%, 53%);
}
.lgFooter{
    position: fixed;
    bottom: 0;
    width:100%;
    padding: 1rem 3rem 1rem;
}