@import "Lakshya";
@import "Nishka";
@import "Vaybhav";

body {
  background-color: #fefefe;
}

.fullwidth {
  display: block;
  height: 400px;
}

.footerPad{
  margin-top:20px;
}

.item-posted{
  border-right:1px solid #aaa;
}